.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin-bottom: 5px;
  border-radius: 5px;
}

.flexRowItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
}

li {
  list-style-type: none;
}
.number_day {
  margin: 5px;
  padding: 5px;
  margin-right: 10px;
  font-size: 2rem;
  font-family: "Roboto Mono", monospace;
}
.label_ {
  font-size: 16px;
  margin-left: 5px;
  line-height: 20px;
}
.label_Item {
  text-align: start;
}

.money {
  font-size: 1.5rem;
  margin-right: 50px;
  text-align: center;
  font-family: "Roboto Mono", monospace;
}

.container_icons {
  padding: 16px;
  cursor: pointer;
}

.container_list {
  padding: 5px;
}
