<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Raleway", sans-serif;
    }

    .container {
        /* display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;*/

        text-align: center;
        padding: 15px;
        margin: 15px;
    }

    .container a {
        font-weight: 12px;
        color: white;
        margin-top: 5px;
        font-size: 20px;
        background: #06c0d8;
        padding: 5px;
        text-decoration: none;
        border-radius: 5px;
    }

    .container a:hover {
        color: white;
        background: #f8173c;
    }

    .container p,
    span {
        text-align: center;
        font-size: 18px;
    }

    .container div {
        padding: 15px;
    }

    .container span {
        font-size: 12px;
    }
</style>



<div class="container">
    <h1>
        ECONTAS
    </h1>
    <span>Controle Financeiro</span>
    <div>
        <p>Você esqueceu sua senha 😮? Não tem problema 😊</p>
        <p>Basta acessar o link abaixo para poder redefinir sua senha </p>
    </div>
    <a href="http://localhost:3000/reset_password?token={{token}}" target="blank_">Redefinir sua senha aqui</a>
</div>